{% extends "base.html" %}

{% block title %}proifle{% endblock title %}

{% block content %}
<div style="display: flex; justify-content: space-between;">

    <div class="left">
        <div style="margin-bottom: .5rem;">
            <span class="title">username:</span>
            <span>{{ user.username }}</span>
        </div>
        <div style="margin-bottom: .5rem;">
            <span class="title">email:</span>
            <span>{{ user.email }}</span>
        </div>
        <div style="margin-bottom: .5rem;">
            <span class="title">firstname:</span>
            <span>{{ user.first_name }}</span>
        </div>
        <div style="margin-bottom: .5rem;">
            <span class="title">lastname:</span>
            <span>{{ user.last_name }}</span>
        </div>
        <div style="margin-bottom: .5rem;">
            <span class="title">registration date:</span>
            <span>{{ user.date_joined }}</span>
        </div>
        <div style="margin-bottom: .5rem;">
            <span class="title">gender:</span>
            <span>{{ customer.gender }}</span>
        </div>
    </div>

    <div class="right">
        <img src="{{ customer.avatar.url }}" alt="User Avatar"
            style="height: 200px; border-radius: 40%; border: 2px solid var(--dark);">
    </div>
</div>

<a href="{% url 'customer:profile_update' %}" class="link">update profile</a><br>
<a href="{% url 'customer:password_update' %}" class="link">change password</a><br>
<a href="{% url 'customer:cart' %}" class="link">cart</a><br>
<a href="{% url 'customer:user_books' %}" class="link">ordered books</a><br>
<a href="{% url 'customer:orders' %}" class="link">orders</a>

{% endblock content %}