{% extends "base.html" %}

{% block title %}authors list{% endblock title %}

{% block content %}
<form action="{% url 'book:author_list' %}" method="get">
    <div class="author_search_form" style="margin-bottom: .5rem;">
        <input type="text" name="author_name" placeholder="search by author name" autofocus>
        <button type="submit">Search</button>
    </div>
</form>

{% for author in authors %}
<a href="{% url 'book:author_books' author.slug %}" class="box-link">
    <div class="box">
        <span class="header">{{ author.name }}</span>
        <span style="color: var(--red);">( books : {{ author.books.count }} )</span><br>

        <span class="title">about author: </span>
        {% if author.description %}
        <span>{{ author.description }}</span><br>
        {% else %}
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At recusandae sed amet dignissimos harum eaque
            quo eum repellendus a neque voluptates blanditiis, incidunt, aliquid fugit sint sit, totam adipisci
            labore.</span>
        {% endif %}
    </div>
</a>
{% endfor %}

{% endblock content %}