{% extends "base.html" %}

{% block title %}genres list{% endblock title %}

{% block content %}
<form action="{% url 'book:genre_list' %}" method="get">
    <div class="genre_search_form" style="margin-bottom: .5rem;">
        <input type="text" name="genre_title" placeholder="search by genre title" autofocus>
        <button type="submit">Search</button>
    </div>
</form>

{% for genre in genres %}
<a href="{% url 'book:genre_books' genre.slug %}" class="box-link">
    <div class="box">
        <span class="header">{{ genre.title }}</span>
        <span style="color: var(--red);"> ( books : {{ genre.books.count }} )</span><br>

        <span class="title">about genre: </span>
        {% if genre.description %}
        <span>{{ genre.description }}</span><br>
        {% else %}
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At recusandae sed amet dignissimos harum eaque
            quo eum repellendus a neque voluptates blanditiis, incidunt, aliquid fugit sint sit, totam adipisci
            labore.</span>
        {% endif %}
    </div>
</a>
{% endfor %}

{% endblock content %}